Package: enigma2-plugin-extensions-jediepgxtream
Version: 2.11-20240919
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Jedi EPG Xtream
Source: https://www.linuxsat-support.com
